:root {
    --white: #F9FCFB;
    --green: #21BF73;
    --red: #FD5E53;
    --border-color: #19282F;
    --rows-num: 4;
    --cols-num: 4;
    --cell-size: 30px;
}

body {
    background-color: var(--white);
}

#game-viewport {
    display: flex;
}

.side {
    width: 50%;
}

.game-field {
    display: grid;
    grid-template-rows: repeat(var(--rows-num), var(--cell-size));
    grid-template-columns: var(--cols-num)*var(--cell-size);
}

.game-field-row {
    display: grid;
    grid-template-columns: repeat(var(--cols-num), var(--cell-size));
}

.cell {
    border: 2px solid var(--border-color);
    background-color: var(--white);
    height: var(--cell-size);
    width: var(--cell-size);
}

.white {
    background-color: var(--white);
}

.green {
    background-color: var(--green);
}

.red {
    background-color: var(--red);
}

/* Settings */

:root {
    --button-size: 30px;
    --button-text-size: 1rem;
    --margin-between-line: 10px;
}

.settings-outer {
    display: grid;
    grid-template-columns: 150px 30px 30px 30px;
    grid-gap: 0px;
    align-items: center;
}

.settings-inner {
    display: inline;
    font-size: var(--button-text-size);
    margin-bottom: var(--margin-between-line);
    height: var(--button-size);
    margin-top: 0px;
    /* vertical-align: top;
    align-items:start; */
}

.settings-inner.small {
    width: var(--button-size);
}